.footer {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
   
    color: white;
    padding: 20px 0 20px 0;
}


    .column {
        flex: 1;
        padding: 10px;
        min-width: 0; /* Thêm thuộc tính này để đảm bảo nội dung không bị tràn */
    }


.row {
    margin-bottom: 10px;
}

.row.top {
    font-size: 2em; /* Tăng kích thước chữ của hàng trên cùng */
}

.row.bottom {
    font-size: 0.8em; /* Giảm kích thước chữ của các hàng dưới */
}

.footer-content {
    background-color: black;
}
