.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .faCaret{
    border: none;
    margin-left: 4px;
    margin-right: 4px;
  }
  .content{
    background-color: #ffffff;
  }

  .quantity{
    padding-left: 10px;
    border: solid 1px black;
    /* margin: 10px; */
    width: fit-content;
    
  }
  .quantity p{
    margin: 0px;
  }
  .cart{
    background-color: black;
  }