

.body {
    margin-left: 15%;
    margin-right: 15%;
}
.content{

    background-color: whitesmoke;
    width: 100%;
    height: auto;
}
.ChatBox{
    /* width:400px ; */
    position: fixed;
    bottom: 30%;
    right: 10%;
}
.icon{
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 25%;
    right: 10%;
    border-radius: 50%;
    font-size: 10px;
}
.icon button{
    border-radius: 50%;
}