.content{
    display: flex;
    background-color: #F8F9FA;
    height: 200px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.left{

    padding: 20px 40px;
    font-size: 100px;
}
.right{
    margin: 10px 20px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.316);
}